# python --version
# Python 3.7.12

## Google libraries
google==2.0.3
google-api-core==1.26.3
google-api-python-client==1.12.10
google-auth==1.35.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.6
google-cloud-bigquery==1.21.0
google-cloud-bigquery-storage==1.1.0
google-cloud-core==1.0.3
google-cloud-datastore==1.8.0
google-cloud-firestore==1.7.0
google-cloud-language==1.2.0
google-cloud-storage==1.18.1
google-cloud-translate==1.5.0
google-colab @ file:///colabtools/dist/google-colab-1.0.0.tar.gz
google-pasta==0.2.0
google-resumable-media==0.4.1
googleapis-common-protos==1.54.0
googledrivedownloader==0.4

## Base packages
os
json
collections
io
datetime
time
pandas==1.3.5
numpy==1.19.5
xarray==0.18.2
matplotlib==3.2.2

## get_climate notebooks
tempfile
requests==2.23.0
cfgrib==0.9.10.0
pyproj==3.2.1
pygrib==2.1.4
Shapely==1.8.0

## get_elevation_gradient notebooks
pystac_client==0.3.2
planetary_computer==0.4.5
rasterio==1.2.10
xarray-spatial==0.3.2

## get_lccs and water_bodies notebooks
boto3==1.20.54
netCDF4==1.5.8

## get_modis notebooks
earthengine-api==0.1.297

## train_model and model_predict_eval notebooks
xgboost==0.90
lightgbm==2.2.3
catboost==1.0.4
scikit-learn==1.0.2
joblib==1.1.0
